.sidebar_type_right {
    border-left: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0 0 8px;
    margin: 0;
}