.calculator__variable {
    margin: 0;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
}

.calculator__variable:first-child {
    padding-top: 0;
}

.calculator__variable:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 800px) {
    .calculator__variable {
        flex-direction: column;
    }
}

@media screen and (min-width: 800px) {
    .calculator__variable {
        align-items: center;
    }
}